@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-cyan: #3490dc;
    --secondary-cyan: #3490dc;

    --primary-blue: #132249;
    --secondary-blue: #4d7dc0;

}
